name: Test Core Library 

on:
  push:
    branches: [ "main" ]
    tags: [ "v*" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    name: Test and Security Check
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25' 

    - name: Verify Dependencies
      run: go mod verify

    - name: Run Go Vet
      run: go vet ./...

    - name: Run Tests
      run: go test -race -covermode=atomic -v ./...
